:root {
  --primary-red: #ff4c4c;
  --dark-red: #c51a4a;
  --primary-green: #00bfa5;
  --primary-dark: #1a1a1a;
}

body {
  margin: 0;
  background-color: var(--dark-red);
  color: #ffffff;
  font-family: 'Quicksand', sans-serif;
}
.site-header {
  background: var(--dark-red);
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 20%;
  background-color: #1a1a1a;
}

.logo {
  font-weight: bold;
  font-size: 1.5rem;
  color: #ffffff;
}
.logo img { height: 55px; }

.nav-links a {
  margin-left: 1.5rem;
  text-decoration: none;
  color: #ffffff;
  font-weight: 500;
}

.hero-section {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4rem 2rem;
  flex-wrap: wrap;
}

.hero-text {
  max-width: 500px;
}

.hero-text h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.hero-text p {
  font-size: 1.1rem;
  margin-bottom: 2rem;
  color: #cccccc;
}

.cta-button {
  background-color: var(--primary-green);
  color: #ffffff;
  padding: 0.75rem 1.5rem;
  border-radius: 6px;
  text-decoration: none;
  font-weight: bold;
}

.hero-image img {
  max-width: 400px;
  height: auto;
  border-radius: 16px;
  background-color: var(--dark-red);
}

section {
  padding: 40px;
}

section ul, section ol { padding: 10px; }